<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div>
			<h1>Account Settings</h1>
		</div>	
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Name</h3>
			</div>
			<div class="panel-body">
				<p>{{account.name}}</p>
				<button type="button" class="btn btn-default">Edit</button>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Phone Number</h3>
			</div>
			<div class="panel-body">
				<p>{{account.phone}}</p>
				<button type="button" class="btn btn-default">Edit</button>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Email</h3>
			</div>
			<div class="panel-body">
				<p>{{account.email}}</p>
				<button type="button" class="btn btn-default">Edit</button>
			</div>
		</div>
	</div>

</div>
