<div class="modal-fade" tabindex="-1" role="dialog" id="login-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-header">
            <h3 class="modal-title" ng-hide="addressSelect.selected">Select an Address</h3>
            <h3 class="modal-title" ng-show="addressSelect.selected">Confirm Address</h3>
        </div>
        <div class="modal-body">
            <form name="addressForm" ng-hide="addressSelect.selected">
                <div class="panel-body">
                    <div class="row" ng-repeat="address in addressSelect.addresses">
                        <!-- OTHERWISE IF ADDRESS EXISTS ALSO PUT IN NG-REPEAT FOR MULTIPLE ADDRESSES -->
                        <div>
                            <h3>Address:</h3>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Flat or building name:</label>
                                {{address.flatBldgName}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Street:</label>
                                {{address.street}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Landmark:</label>
                                {{address.landmark}}
                                <!-- PUT LANDMARK HERE -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Pincode:</label>
                                {{address.pincode}}
                                <!-- PUT PINCODE HERE -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>City:</label>
                                {{address.city}}
                                <!-- PUT CITY HERE -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>State:</label>
                                {{address.state}}
                                <!-- PUT STATE HERE -->
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-lg" ng-click="addressSelect.selectAddress($index)">Select this address</button>
                    </div>
                </div>
            </form>
            <form name="confirmationForm" ng-show="addressSelect.selected">
                <div class="panel-body">
                    <div class="row">
                        <div>
                            <h4>Selected Address:</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Flat or building name:</label>
                                {{addressSelect.selectedAddress.flatBldgName}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Street:</label>
                                {{addressSelect.selectedAddress.street}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Landmark:</label>
                                {{addressSelect.selectedAddress.landmark}}
                                <!-- PUT LANDMARK HERE -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Pincode:</label>
                                {{addressSelect.selectedAddress.pincode}}
                                <!-- PUT PINCODE HERE -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>City:</label>
                                {{addressSelect.selectedAddress.city}}
                                <!-- PUT CITY HERE -->
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>State:</label>
                                {{addressSelect.selectedAddress.state}}
                                <!-- PUT STATE HERE -->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form name="myForm">
                <div class="modal-footer">
                    <!-- <a class="btn btn-primary btn-lg btn-block" ng-hide="addressSelect.selected" role="button" href="https://www.instamojo.com/@cheflery/ff56d73326f045848f08b9484713f7bc" >Confirm</a> -->


                    <!-- <a class="btn btn-primary btn-block btn-lg" ng-show="addressSelect.selected" href="https://www.instamojo.com/@cheflery/ff56d73326f045848f08b9484713f7bc">Confirm</a> -->

                    <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="addressSelect.confirm()" ng-show="addressSelect.selected">Confirm</button>
                    <button type="button" class="btn btn-default btn-block btn-lg" ng-click="addressSelect.reselect()" ng-show="addressSelect.selected">Change Address</button>
                    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="addressSelect.cancel()">cancel</button>
                </div>
        </div>
    </div>