<div class="modal-fade" tabindex="-1" role="dialog" id="login-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-header">
            <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
            <form name="myForm">
                <label>Enter your phone number and password:</label>
                <input id="login_phone" class="form-control" type="text" placeholder="Phone Number" ng-model="login.user.phone" ng-change="login.checkUser()" name="myPhone" required>
                <div ng-messages="myForm.myPhone.$error" role="alert" ng-if="myForm.myPhone.$dirty">
                    <div ng-message="required" class="text-danger">This field is required.</div>
                </div>
                <input id="login_password" class="form-control" type="password" placeholder="Password" ng-model="login.user.password" name="myPassword" required>
                <div ng-messages="myForm.myPassword.$error" role="alert" ng-if="myForm.myPassword.$dirty">
                    <div ng-message="required" class="text-danger">This field is required.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="login.login()" ng-disabled="myForm.$invalid">Login</button>
                    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="login.cancel()">cancel</button>
                </div>
        </div>
    </div>