<!-- Start of panel -->
<div class="panel panel-default">
	<!-- Start of panel header -->
	<div class="panel-heading">
		<legend>Password Change</legend>
	</div>
	<!-- End of panel header -->
	<!-- Start of panel body -->
	<div class="panel-body">
		<form action="" method="POST" role="form">
			<legend>Enter new Password</legend>
		
			<div class="form-group">
				<input type="text" placeholder="Enter new password">
			</div>
			<div>
				<input type="text" placeholder="Confirm password">	
			</div>
		</form>
	</div>
	<!-- End of panel body -->
	<div class="panel-footer">
		<button type="button" class="btn btn-primary">Submit</button>
	</div>
</div>

