    <div class="row">
	    <div class="col-xs-12  col-md-10 col-md-offset-1">
			<!-- Start of panel -->
			<div class="panel panel-default">
				<!-- Start of panel header -->
				<div class="panel-heading">
					<h3 class="panel-title">Password Change</h3>
				</div>
				<!-- End of panel header -->
				<!-- Start of panel body -->
				<div class="panel-body">
					<form action="" method="POST" role="form">
						<legend>Enter new Password</legend>
					
						<div class="form-group">
							<input type="text" placeholder="Enter new password">
						</div>
						<div>
							<input type="text" placeholder="Confirm password">	
						</div>
					</form>
				</div>
				<!-- End of panel body -->
				<div class="panel-footer">
					<button type="button" class="btn btn-primary">Submit</button>
					<button type="button" class="btn btn-default" ui-sref="main.account">Back</button>
				</div>
			</div>
	    </div>
    </div>

