<div class="container">
    <div class="row">
        <!-- col for image -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img ng-src="{{product.product.mediumImage}}" class="image-responsive" srcset="{{product.product.smallImage}} 1x,{{product.product.mediumImage}} 2x,{{product.product.largeImage}} 3x"></img>
            <!-- FOR IMAGES -->
          <!--   <img src="{{product.product.images}}">
 -->        </div>
        <!-- col for basic details -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div>
                <h2 id="product-name"><b>{{product.product.name}}</b></h2>
            </div>
            <div>
                <h3>{{product.product.subtitle}}</h3>
            </div>
            <div>
                <h2>{{product.product.rate | currency : "&#8377;"}}</h2>
            </div>
            <div>
               <!--  <button type="button" class="btn btn-primary btn-lg" ng-click="product.addItem()" ng-disabled="product.product.adding">Add to cart</button> -->
            </div>
            <div>
                <h4>Product Description:</h4>
                <p>{{product.product.description}}</p>
            </div>
        </div>
    </div>
</div>