<div class="modal-fade" tabindex="-1" role="dialog" id="modal-register">
    <div class="modal-dialog modal-sm">
        <div class="modal-header">
            <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
            <p>Enter your Username and password</p>
            <input class="form-control" type="text" placeholder="Phone Number" ng-model="user.phone" required>
            <input id="login_password" class="form-control" type="password" placeholder="Password" ng-model="user.password" required>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-lg btn-block">Register</button>
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="$dismiss()">cancel</button>
        </div>
    </div>
</div>